---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$normal-kerning:   5px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #000;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "responsive"
;

//HEADER
.site-title{
	text-align: center;
	float: none;
}

//INDEX PAGE
.site-category, .title-section {
	box-sizing: border-box;
	color: white;

	h1, h2 {
		transition: color 1s, opacity 1s;
	}

	h1 {
		margin: 5% 0;
		text-align: center;
		display: block;
		text-transform: uppercase;
		letter-spacing: $normal-kerning;

	}

	a {
		color: white;
		transition: letter-spacing 0.8s;
		border-bottom: 2px solid rgba(0, 0, 0, 0);
		&:hover{
			letter-spacing: $normal-kerning + 1;
			text-decoration: none;
			border-bottom: 2px solid white;
		}
	}
}

.home{
	display: flex;
	flex-direction: column;
}

.title-home {
	height: 43em;
	background-image: url("./photos/palms.png");
	// background-height: 43em;
	background-size: cover;
	background-position: center;

	h1{
		padding: 15% 0 5% 0;
	}
}

.title-section {
	h1{
		font-size: 5em;
		margin: 0 0;
	}
	h2{
		font-size: 1.75em;
		text-align: center;
		display: block;
		letter-spacing: 1px;
		font-style: italic;
	}
}

.site-category{
	// max-height: 25%;
	background-size: cover;
	background-position: center;
	a{
		display: inline-block;
	}
	h1{
		padding: 1.75em;
		text-shadow: black 0 0 10px;
		letter-spacing: $normal-kerning - 1;
	}
}

.connect{
	text-align: center;
	padding: auto;
	img{
		height: 30px;
		padding: 10px;
	}
}

.site-footer{
	border-top: none;
	padding: 15px 0 0 0;
}

.page-content{
	background-color: black;
}

/*SECTIONS*/

#covers{
	background-image: url("/photos/rain.jpg");
}

#design{
	background-image: url("/photos/light.jpg");
}

#ux-design{
	background-image: url("/photos/lilypads.jpg");
}

#photography{
	background-image: url("/photos/gold.png");
}

#seeds{
	background-image: url("/photos/pine.png");
}
