<footer class="site-footer">

  <div class="wrapper">

      <div class="connect">
        <p>
          <a href="https://www.linkedin.com/in/stephaniekcree"><img src="/photos/linkedin.png" alt="LinkedIn"></a>
          <a href="https://github.com/skcele"><img src="/photos/github.png" alt="Github"></a>
          <a href="https://society6.com/skceletongirl"><img src="/photos/society6.png" alt="Society6"></a>
          <a href="http://www.redbubble.com/people/skcele"><img src="/photos/redbubble.png" alt="Redbubble"></a>
        </p>
      </div>

  </div>

</footer>
