body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.App {
  text-align: left;
}

/* NAVBAR */

.navbar {
  background-color: #303030;
  width: 100%;
  min-height: auto;
  display: inline-flex;
}

.navbar-text {
  margin: 0.5rem 0 0.5rem 1.5rem;
  color: white;
  letter-spacing: 0.01em;
  font-size: 1.25rem;
  line-height: 2.1rem;
  font-family: ode, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-list{
  margin: 0;
  padding: 0;
}

li.navbar-text{
  text-align: right;
  margin: 0.5rem 0.969rem 0.5rem 0.969rem;
  list-style: none;
  display: inline-block;
}

li.navbar-text:last-child{
  margin: 0.5rem 2.188rem 0.5rem 0.969rem;
}

.navbar-text a {
  text-decoration: none;
  color: white;
  /* transition: text-decoration 300ms; */
}

.navbar-text a:hover{
  text-decoration: underline;
}

.navbar-text a:visited{
  color: white;
}

nav {
  margin-left: auto;
}

/* MAIN */

.main-photo {
  height: 90vh;
  width: 100%;
  background-image: url("/photos/palms.png");
	background-size: cover;
	background-position: center;
  display: flex;
  flex-direction: column-reverse;
}

.main-photo_description {
  background-color: #303030;
  box-sizing: border-box;
  margin: 2rem 0 2rem 8rem;
  padding: 1.875rem 2rem 1.875rem 1.875rem;
}

.main-photo_description h3 {
  color: white;
  font-family: interstate-mono, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2.375rem;
}

.main-section {
  padding: 6rem;
}

.main-section h3 {
  display: block;
  font-family: interstate-mono, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 2.375rem;
  padding-bottom: 3rem;
}

.main-section_links {
  display: inline-block;
  min-width: 9rem;
  text-align: right;
  padding: 0 2rem 3rem 1rem;
  border-right: #303030 solid 1.5px;
  margin: 0 2.688rem 2rem auto;
}

.main-section_links h2 {
  font-family: interstate-mono, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.375rem;
  padding-bottom: 1rem;
}

.main-section_links a {
  text-decoration: none;
  color: #303030;
}

.main-section_links a:hover {
  text-decoration: underline;
}

.main-section_links a:visited {
  color: #303030;
}

.main-section-square {
  display: inline-block;
  min-width: 20rem;
  min-height: 20rem;
  background-color: #303030;
  /* margin: 4rem; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */